* {
    box-sizing: border-box;
}

body {
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 18px;
        line-height: 1.6;
        margin: 0;
        padding: 0;
        background-color: hwb(0 8% 92% / 0.622);
}

header {
    background-color: hwb(70 5% 29% / 0.8);
    padding: 20px;
    text-align: center;
}
    